

.mdl-tabs {
  width:450px;
  margin: 0 auto;
  background-color:#efefef;
  margin-top:30px;
  margin-bottom: 30px;
}
.mdl-tabs__panel p {
  padding:4px;
}
.tab-footer {
  background-color: #78909C;
  height: 12px;
  padding: 0;
  margin: 0;
  width:100%;
}

.searchbox {
  font-size:18px;
  background-color: #78909C;
  color: #fff;
  
}
.mdl-button--icon {
  color:white;
}

.tab-div {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
li {
  list-style: none;
  padding-top: 6px;
  padding-bottom: 10px;
}

.reset > i {
    float: right;
    padding: 15px;
    font-size: 32px;
}

.profile-pic {
  width:35px;
  height:35px;
  border-radius: 50%;
  border:2px solid rgb(255,64,129);
}
.user-icon {
  padding-right: 8px;
  float:right;

}
/*.user-link {
  margin-left: 3px;
}*/
.profile-pic {
  text-align: left;
  margin-right: 12px;

}

.main-list {
  padding-left:8px;
}

hr:last-child {
  display: none;
}

a.mdl-navigation__link {
    text-align: center;
}

span.mdl-layout-title {
    text-align: center;
}
.stream-info {
  padding-left:10px;
  color:#78909C;
  font-size:14px;
}

a.user-link {
  text-decoration: none;
  color:#78909C;
  font-size: 17px;
}
a.user-link:hover {
  text-decoration: none;
  color: rgb(255,64,129);
}
i.material-icons.user-icon:hover {
    color: #78909C;
}
.hidden {
  display:none;
}
